{% extends './layout.html' %}
{% block content %}
<div class='well'>
  <form method='POST' action='/regions'>
    <div class='form-group'>
      <input name='zip' class='form-control' placeholder='zip' />
    </div>
    <button type='submit' class='btn btn-primary'>Add Zip</button>
  </form>
</div>


{% for region in regions %}
<div class='panel panel-default'>
  <div class='panel-heading'>
    {{region.zip}}
    <form style='display:inline' method='POST' action='/regions/{{region.id}}?_method=DELETE'/>
    <button class='btn btn-danger pull-right'>Delete</button>
    </form>
    <br clear='all' />
  </div>
  <div class='panel-body'>
    <ul class='list-group'>
      
		{% for person in people %}
      	
      	{% if region.salesPeople|containsPerson(person) %}
	  	<li  class='list-group-item list-group-item-success' >
	  	{{person.name}}
	  	<form action='/salesPeople/{{person.id}}/{{region.id}}?&backUrl=/regions&_method=DELETE' method='POST' style='display:inline'>
		<button type='submit' class='btn btn-default pull-right'>Remove</button>
	  		
		{% else %}
		<li  class='list-group-item' >
	  	{{person.name}}
		<form action='/salesPeople/{{person.id}}/{{region.id}}?&backUrl=/regions' method='POST' style='display:inline'>
		<button type='submit' class='btn btn-default pull-right'> Add </button>
		{% endif %}
		  

		
		<br clear='all' />
		</form>

		</li>
		{% endfor %}
	</ul>
  </div>
</div>
{% endfor %}

{% endblock %}